
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body {
    background: #f5f5f5;
    color: #333;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #fcbe13;
    color: white;
    padding: 15px 40px;
}

.navbar h1 {
    margin: 0;
    font-size: 28px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card h3 {
    color: #fcbe13;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
}


.btn-primary {
    display: inline-block;
    background: #fcbe13;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 15px;
}

.btn-primary:hover {
    background: #fcbe13;
}
